---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@font-face {
  font-family: 'MuseoSlab-500';
  src: url('{{ site.baseurl }}/webfonts/3909ED_0_0.eot');
  src: url('{{ site.baseurl }}/webfonts/3909ED_0_0.eot?#iefix') format('embedded-opentype'),
    url('{{ site.baseurl }}/webfonts/3909ED_0_0.woff2') format('woff2'),
    url('{{ site.baseurl }}/webfonts/3909ED_0_0.woff') format('woff'),
    url('{{ site.baseurl }}/webfonts/3909ED_0_0.ttf') format('truetype');
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Our variables
$base-font-family: 'Muli', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
//$heading-font-family: MuseoSlab-500, sans-serif;
// TODO: Should be using MuseoSlab-500 but the font loading sucks.
$heading-font-family: 'Multi', sans-serif;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #4b4f54;
$background-color: #fdfdfd;
$brand-color:      #9eb73c; //#A2AD00; //#9eb73c;
$brand-dark-color: #6A963B;

$grey-color:       #4b4f54;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$base-url:         "{{ site.baseurl }}";


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        //"syntax-highlighting",
	      //"normalize",
	      //"skeleton",
	      "custom"
;
