---
layout: default
banner: banner.jpg
---

<div class="home">
  <h1>Years</h1>

  <ul class="year-list">
    {% for post in site.years %}
    <li>
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <h1>Venues</h1>
  {% include year-stats.html group_by="venue" sort_by="name" %}

  <h1>Organisers</h1>
  {% include year-stats.html group_by="organiser" sort_by="name" %}

</div>
