{% comment %}
============================================================================
Usage: {% include year-stats.html group_by="venue" sort_by="name" %}

Print a summary block of the year database, grouped and then sorted
by the specified fields.
============================================================================
{% endcomment %}

{% assign groups = site.years | group_by: include.group_by %}

{% if include.sort_by %}
  {% assign groups = groups | sort: "name" %}
{% endif %}

<div class="year-stats">
{% for group in groups %}
 <span class="group-name">{{ group.name }}</span> ({{group.items | size}}):
 <ul> 
 {% for item in group.items %}
  <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
 {% endfor %}
 </ul>
{% endfor %}
</div>

