// Mixins
.palm-only {
  display: none;
  @include media-query($on-palm) {
    display: initial;
  }
}

.palm-excl {
  @include media-query($on-palm) {
    display: none;
  }
}


// Style
h1, h2, h3, h4 {
  margin-bottom: 1rem;
  margin-top: 1.2rem;
}

.home h1 {
  font-size: 2rem;
}

p {
  margin-bottom: 1rem;
}

// Banner
.banner {
  width: 100%;
}

// Home page year list
.year-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: $spacing-unit;
  margin-right: $spacing-unit;

  @include media-query($on-palm) {
    margin-left: $spacing-unit / 3;
    margin-right: $spacing-unit / 3;
  }

  li {
    display: inline;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    padding-bottom: 5px;

    a {
      font-size: 24px;
    }
  }
}

// Homepage year stats
.year-stats {
  .group-name {
    font-weight: bold;
  }

  ul {
    list-style: none;

    li {
      display: inline;

      &:not(:last-child):after {
        content: ", ";
      }
    }
  }
}

// Definition lists

/* autoprefixer grid: autoplace */

dl {
  display: grid;
  grid-template-columns: 1fr 4fr;
  
  line-height: 1.2;
  margin-bottom: 1rem;
  align-items: center;

  dt {
    grid-column: 1;
    padding: 2px 4px;
    font-weight: bold;
    @supports (display: grid) {
      text-align: right;
      vertical-align: middle; 
    }
  }

  dd {
    grid-column: 2;
    margin: 0;
    padding: 2px 4px;
    margin-left: 30px;

   @supports (display: grid) {
     margin-left: 0;
   }
  }

  @include media-query($on-palm) {
    grid-template-columns: auto;

    dt {
      text-align: left;
    }

    dd {
      grid-column: 1;
      margin-left: 15px;
    }
  }

}

// Year asset links
.year-content a {
  &,
  &:visited {
    display: inline-block;
    padding: 2px 7px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: $brand-dark-color;
  }

  &:hover,
  &:focus {
    color: #FFF;
    background: $brand-color;
    border: 1px solid $brand-color;
    text-decoration: none;
  }
}

// Year pager
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
  min-height: 33px;

  .next {
    float: right;
  }

  .previous {
    float: left;
  }

  li a {
    padding: 15px 25px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 5px;
    background: #FFF;
    border-radius: 0;
    color: #404040;
  }

  li>a, li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  li a:hover,
  li a:focus {
    color: #FFF;
    background: $brand-color;
    border: 1px solid $brand-color;
    text-decoration: none;
  }
}

// Header, footer and nav
.site-header {
  background: $brand-color;
}

.site-nav {
  @include media-query($on-palm) {
    .page-link {
      color: $brand-color;
    }
  }
}

html,
body {
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  position: relative;
}

.page-content {
  padding-bottom: 200px;  
}

.site-footer {
  background: url("#{$base-url}/static/logo.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 105px;
  width: 100%;
  position: absolute;
  bottom: 0;
}



