---
layout: default
---

{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">GBBF {{ page.title }}</h1>
  </header>

  <div class="post-content year-content" itemprop="articleBody">
    <div class="year-content-block">
      <dl>
        <dt>Venue</dt><dd>{{ page.venue }}</dd>
        <dt>Organiser</dt><dd>{{ page.organiser }}</dd>
      </dl>
    </div>
    {{ content }}
  </div>

  <div class="post-footer">
    <div class="pager">
    {% if prevurl %}
    <li class="previous"><a href="{{ prevurl | relative_url }}">&larr; {{ prevtitle }}</a></li>
    {% endif %} 
    {% if nexturl %}
    <li class="next"><a href="{{ nexturl | relative_url }}">{{ nexttitle }} &rarr;</a></li>
    {% endif %}
   </div>
  </div>
</article>
